{% extends 'base.html' %}
<!--pagina onde ocorre o estadiamento-->
{% block corpo %}


    <form action="" method="post" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-xs-8">
            <label for = 'icd_selector'>Choose the ICD to the tumor type to be staged</label>
            <select id='icd_selector'
                    rel="tooltip" data-placement="right" title="Choose the ICD to the tumor type to be staged"
                    data-bind="options: available_icds,
                               optionsCaption: 'Select...',
                               value: current_icd,
                               event: { change: icdChanged }"
                    class="form-control">
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <label for="t_selector" > Choose the T to the tumor type to be staged</label>
            <select id='t_selector'
                    rel="tooltip" data-placement="right" title="Choose the T to the tumor type to be staged"
                    data-bind="options: available_ts,
                               optionsCaption: 'Select...',
                               value: current_t,
                               event: { change: tnmChanged }"
                    class="form-control">
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <label for="n_selector"> Choose the N to the tumor type to be staged</label>
            <select id='n_selector'
                    rel="tooltip" data-placement="right" title="Choose the N to the tumor type to be staged"
                    data-bind="options: available_ns,
                               optionsCaption: 'Select...',
                               value: current_n,
                               event: { change: tnmChanged }"
                    class="form-control">
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-8">
            <label for="m_selector"> Choose the M to the tumor type to be staged</label>
            <select id='m_selector'
                    rel="tooltip" data-placement="right" title="Choose the M to the tumor type to be staged"
                    data-bind="options: available_ms,
                               optionsCaption: 'Select...',
                               value: current_m,
                               event: { change: tnmChanged }"
                    class="form-control">
            </select>
        </div>
    </div>

     <div class="row">
        <div class="col-xs-8">
            <label id='l_dukes' for="dukes_selector">Choose the Dukes to the tumor type to be staged</label>
            <select id='dukes_selector'
                    rel="tooltip" data-placement="right" title="Choose the Dukes to the tumor type to be staged"
                    data-bind="options: available_dukes,
                               optionsCaption: 'Select...',
                               value: current_dukes,
                               event: { change: tnmChanged }"
                    class="form-control">
            </select>
        </div>
     </div>

     <div class="row">
        <div class="col-xs-8">
            <label id="l_psa" for="psa_selector">Choose the PSA to the tumor type to be staged</label>
            <select id='psa_selector'
                    rel="tooltip" data-placement="right" title="Choose the PSA to the tumor type to be staged"
                    data-bind="options: available_psa,
                               optionsCaption: 'Select...',
                               value: current_psa,
                               event: { change: tnmChanged }"
                    class="form-control">
            </select>
        </div>
     </div>

     <div class="row">
        <div class="col-xs-8">
            <label id="l_gleason" for="gleason_selector">Choose the Gleason to the tumor type to be staged</label>
            <select id='gleason_selector'
                    rel="tooltip" data-placement="right" title="Choose the Gleason to the tumor type to be staged"
                    data-bind="options: available_gleason,
                               optionsCaption: 'Select...',
                               value: current_gleason,
                               event: { change: tnmChanged }"
                    class="form-control">
            </select>
        </div>
     </div>

    <div>
<strong data-bind="text: calculated_stage"></strong>


    </div>

</form>



{% endblock %}