{% extends 'base.html' %}
<!--pagina onde ocorre o estadiamento-->
{% block corpo %}

<form action="" method="post" xmlns="http://www.w3.org/1999/html">
<div class="container-fluid">
<div id="div_tnm">

    <div id="div_icd">
        <label style="width: 40px;text-align: center" for = 'icd_selector'>ICD</label>
        <select id='icd_selector' style="width: 80%"
                class="dropdown-toggle"
                rel="tooltip" data-placement="right" title="Choose the ICD to the tumor type to be staged"
                data-bind="options: available_icds,
                           optionsCaption: 'Select...',
                           value: current_icd,
                           event: { change: icdChanged }"
                class="form-control">
        </select>
    </div>

    <div id="div_icd">
        <label style="width: 40px;text-align: center" for="t_selector" > T </label>
        <select id='t_selector' style="width: 80%"
                class="dropdown-toggle"
                rel="tooltip" data-placement="right" title="Choose the T to the tumor type to be staged"
                data-bind="options: available_ts,
                           optionsCaption: 'Select...',
                           value: current_t,
                           event: { change: tnmChanged }"
                class="form-control">
        </select>
    </div>

    <div id="div_icd">
        <label style="width: 40px;text-align: center" for="n_selector"> N </label>
        <select id='n_selector' style="width: 80%"
                class="dropdown-toggle"
                rel="tooltip" data-placement="right" title="Choose the N to the tumor type to be staged"
                data-bind="options: available_ns,
                           optionsCaption: 'Select...',
                           value: current_n,
                           event: { change: tnmChanged }"
                class="form-control">
        </select>
    </div>

    <div id="div_icd">
        <label style="width: 40px;text-align: center" for="m_selector"> M </label>
        <select id='m_selector' style="width: 80%"
                class="dropdown-toggle"
                rel="tooltip" data-placement="right" title="Choose the M to the tumor type to be staged"
                data-bind="options: available_ms,
                           optionsCaption: 'Select...',
                           value: current_m,
                           event: { change: tnmChanged }"
                class="form-control">
        </select>
    </div>

    <div id="div_icd">
        <label style="width: 40px;text-align: center" for="dukes_selector" id="l_dukes"> Dukes </label>
        <select id='dukes_selector' style="width: 80%"
                class="dropdown-toggle"
                rel="tooltip" data-placement="right" title="Choose the Dukes to the tumor type to be staged"
                data-bind="options: available_dukes,
                           optionsCaption: 'Select...',
                           value: current_dukes,
                           event: { change: tnmChanged }"
                class="form-control">
        </select>
    </div>

    <div id="div_icd">
        <label style="width: 40px;text-align: center" for="psa_selector" id="l_psa">PSA</label>
        <select id='psa_selector' style="width: 80%"
                class="dropdown-toggle"
                rel="tooltip" data-placement="right" title="Choose the PSA to the tumor type to be staged"
                data-bind="options: available_psa,
                           optionsCaption: 'Select...',
                           value: current_psa,
                           event: { change: tnmChanged }"
                class="form-control">
        </select>
    </div>

    <div id="div_icd">
        <label style="width: 55px;text-align: center" for="gleason_selector" id="l_gleason">Gleason</label>
        <select id='gleason_selector' style="width: 80%"
                class="dropdown-toggle"
                rel="tooltip" data-placement="right" title="Choose the Gleason to the tumor type to be staged"
                data-bind="options: available_gleason,
                           optionsCaption: 'Select...',
                           value: current_gleason,
                           event: { change: tnmChanged }"
                class="form-control">
        </select>
    </div>

    <!--TNM-->


</div><!--fim div tnm-->

<div id="div_stage">
    <label id="b_stage"
           class=""
           data-bind="text: calculated_stage">
    </label>
</div><!--fim div stage-->

</div>
</form>
{% endblock %}