{% extends 'base.html' %}

{% block main%}

<form>
    <div>
        <label for="cid">CID</label>
        <select name="cid" id="cid">
            <option value="">Selecione...</option>
            <option value="">Breast</option>
            <option value="">Cervix</option>
            <option value="">lung</option>
        </select>
    </div>
    <div>
        <label for="t">T</label>
        <select name="t" id="t">
            <option value="">Selecione ...</option>
        </select>
    </div>

</form>

<script>
    $(function(){
        $("#cid").change(function (){
            var cid = $(this).val();
            $.ajax({
                url: '/filtrar_t/',
                data: {
                    'cid': cid
                },
                success: function(data){
                    $("#t").html(data);
                }
            });
        });
    });
</script>

{% endblock main %}